@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

body,
html {
    background-image: linear-gradient(to bottom, #21203f, #d60c0c, #21203f);
    background-repeat: no-repeat;
    /* #d6530c */
    height: 100vh;
    width: 100vw;
}

main{
    width: 30em;
    height: 40em;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: auto;
    margin-top: 5em;
    border: 3px solid #d60c0c;
    border-radius: 1em;
}

h2{
    margin-bottom: 3em;
}

button{
    background-color: #d60c0c;
    width: 20em;
    height: 3em;
    margin-bottom: 2em;
    border-radius: 1em;
}

button>a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

